<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat | HeartWise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <nav class="navbar">
        <a href="/" class="logo">HEART<span>WISE</span></a>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/eat">Eat</a>
            <a href="/move">Move</a>
            <a href="/rest">Rest & Reset</a>
            <a href="/heart">Your Heart</a>
        </div>
    </nav>
</header>

<main class="page">

    <p class="eyebrow">STEP 1 | EAT</p>

    <h1>Feed your heart.</h1>

    <p>
        Eating to improve your heart health means
        consciously making the right choices to fuel your body.
    </p>

    <div class="info-box">
        <strong>The main idea:</strong>
        Mindful eating isn't about entering yourself
        into a restrictive diet, but it's about eating
        healthy MOST of the time. Never look down
        on yourself for indulging in a craving and
        protect your mental health first.
    </div>

    <h2>Habits to build</h2>

    <div class="habit-list">
        
        <div class="habit">
            <label>Meal sequencing</label>
            <p>
                Eat fiber first, then follow it up
                with protein and healthy fats, and
                finally end with carbs. Following
                an order to meals reduces your
                blood sugar from spiking and helps
                your body process glucose more efficiently
                and safely.
            </p>
        </div>

        <div class="habit">
            <label>Flavanoids</label>
            <p>
                Found in berries, dark chocolate, and
                green and black tea. They reduce
                inflammation and lower blood pressure.
            </p>
        </div>

        <div class="habit">
            <label>Know your protein</label>
            <p>
                Favor plant-based proteins as they
                are the safest option for your
                whole-body health. It includes
                legumes, nuts, and seeds. However,
                lean poultry and eggs should still
                be consumed moderately over the week.
                For example, eggs contain important
                carotenoids and have amino acid
                arginine. In addition, red meat
                should be apart of your diet, but
                should be limited to 1-3 times a week.
            </p>
        </div>

        <div class="habit">
            <label>Healthy fats</label>
            <p>
                Known to increase 'good' cholesterol
                instead of 'bad' cholesterol, unlike
                saturated fats. Avocadoes, olives,
                nuts, and seeds, are crucial to your
                heart health.
            </p>
        </div>

        <div class="habit">
            <label>Powerful foods</label>
            <p>
                1. Sweet potatoes have more potassium
                than bananas!
                2. Papayas are also important to note as
                they are rich in lycopene.
                3. Yogurt undergoes a bacterial fermentation
                process that creates specific peptides
                that have an impact on bettering blood pressure.
                4. Peanuts are found to have amino acid
                l-arginine and vitamin E.
            </p>
        </div>


    </div>

    <h2>Why does this matter?</h2>

    <p>
        Junk and highly processed foods heighten
        'bad' cholesterol, leading to plaque
        build-up in your arteries and block
        blood flow.
    </p>

    <h2>Sources</h2>

    <div class="sources">
        <p>
            BetterHealth Channel. (2025, November 12). Diet and heart disease risk. https://www.betterhealth.vic.gov.au/health/conditionsandtreatments/diet-and-heart-disease-risk   
        </p>
    </div>

    <div class="sources">
        <p>
            Boland, J. (2026, March 3). Meal Sequencing: Benefits, Science & How to Practice Food Sequencing. https://draxe.com/nutrition/meal-sequencing/ 
        </p>
    </div>

    <div class="sources">
        <p>
            Geelong Medical & Health Group. (2017, November 17). 6 Surprising Foods That Are Great For Your Heart. https://www.geelongmedicalgroup.com.au/2017/11/6-surprising-foods-that-are-great-for-your-heart 
        </p>
    </div>

    <div class="sources">
        <p>
            Heart Foundation. (2026, July 20). How to follow a heart healthy eating pattern. https://www.heartfoundation.org.au/healthy-living/healthy-eating/heart-healthy-eating-pattern 
        </p>
    </div>

    <div class="sources">
        <p>
            WebMD. (2025, August 9). Top Foods High in Flavonoids. https://www.webmd.com/diet/foods-high-in-flavonoids  
        </p>
    </div>


</main>

<footer>
    <p>HEARTWISE: A Personal Project researching cardiovascular health.</p>

    <p>
        Do not use this website in place of personalised medical advice.
        Visit your local clinic for professional and qualified treatment.
    </p>

    <a href="mailto:rbhojwani28@student.sacs.nsw.edu.au">Send feedback</a>
</footer>

</body>
</html>