<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Move | HeartWise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <nav class="navbar">
        <a href="/" class="logo">HEART<span>WISE</span></a>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/eat">Eat</a>
            <a href="/move">Move</a>
            <a href="/rest">Rest & Reset</a>
            <a href="/heart">Your Heart</a>
        </div>
    </nav>
</header>

<main class="page">

    <p class="eyebrow">STEP 2 | MOVE</p>

    <h1>Exercise your heart.</h1>

    <p>
        Make your heart pump faster on purpose.
    </p>

    <div class="info-box">
        <strong>The main idea:</strong>
        Physical activity can be as simple as
        walking around the house. Do not
        overcommit to a strict regime and 
        randomly stop. Take your time.
    </div>

    <h2>Habits to build</h2>

    <div class="habit-list">
        
        <div class="habit">
            <label>Japanese Walking Method</label>
            <p>
                Walking at a brisk speed for 3
                minutes, then slowing it down
                for 3 minutes, and continuing
                this cycle for up to 30 minutes
                a day will elevate your heart
                rate and increase blood flow to
                your muscles. The consistent
                switching from zone 3 to zone 1
                cardio directly improves heart
                health.
            </p>
        </div>

        <div class="habit">
            <label>7,200 steps a day</label>
            <p>
                The viral goal of achieving 10k
                steps a day was found to have
                originated from a Japanese marketing
                campaign for a pedometer app.
                Studies show that the benefits
                peak at 7,200 steps and then plateau.
            </p>
        </div>

        <div class="habit">
            <label>Post-meal walks</label>
            <p>
                Walking (even just around the
                house) for 2-5 minutes after
                each meal stabilises insulin
                levels and keeps your blood
                sugar from its spike 60-90
                minutes after finishing a meal.
            </p>
        </div>

        <div class="habit">
            <label>Resistance training</label>
            <p>
                Training with weights and/or
                progressively overloading in the gym
                2 times a week reduces fat and keeps
                you from being unhealthily
                overweight.
            </p>
        </div>

        <div class="habit">
            <label>50 stair steps</label>
            <p>
                Using the stairs instead of a lift
                daily can reduce your risk of CVDs.
                Specifically, aiming for at least
                50 stair steps a day is shown to
                decrease this risk by 20%.
            </p>
        </div>

    </div>


    <h2>Why does this matter?</h2>

    <p>
        Physical activity helps you maintain
        a healthy weight and avoid obesity.
        It strengthens your heart muscle and
        therefore improves your heart's
        ability to pump blood throughout your
        body. Moreover, the oxygen levels
        in your blood rise as capillaries widen.
    </p>

    <h2>Sources</h2>

    <div class="sources">
        <p>
            Berman, R. (2023, October 7). Climbing over 50 steps of stairs a day may help reduce heart disease risk. Medical News Today. https://www.medicalnewstoday.com/articles/climbing-over-50-steps-of-stairs-a-day-may-help-reduce-heart-disease-risk 
        </p>
    </div>

    <div class="sources">
        <p>
            Brown University Health. (2025, November 25). Interval Walking: Health Benefits of the “Japanese Walking Method”. https://www.brownhealth.org/be-well/interval-walking-health-benefits-japanese-walking-method 
        </p>
    </div>

    <div class="sources">
        <p>
            CNN Health. (2023, September 9). Just 2 minutes of walking after eating can help blood sugar, study says. https://edition.cnn.com/2022/09/02/health/walking-blood-sugar-study-wellness/index.html  
        </p>
    </div>

    <div class="sources">
        <p>
            Johns Hopkins Medicine. (n.d.). 3 Kinds of Exercise That Boost Heart Health. https://www.hopkinsmedicine.org/health/wellness-and-prevention/3-kinds-of-exercise-that-boost-heart-health 
        </p>
    </div>

    <div class="sources">
        <p>
            National Heart, Lung, and Blood Institute. (2022, March 24). Physical Activity and Your Heart. https://www.nhlbi.nih.gov/health/heart/physical-activity/benefits 
        </p>
    </div>
</main>

<footer>
    <p>HEARTWISE: A Personal Project researching cardiovascular health.</p>

    <p>
        Do not use this website in place of personalised medical advice.
        Visit your local clinic for professional and qualified treatment.
    </p>

    <a href="mailto:rbhojwani28@student.sacs.nsw.edu.au">Send feedback</a>
</footer>

</body>
</html>